{% comment %}
  Collection template, used on collection.liquid and collection.image.liquid
{% endcomment %}

{% paginate collection.products by 100 %}

<div class="collection-info">
  <div class="collection-info--title">{{ collection.title }}</div>
  {% if collection.description != blank %}
    <div class="collection-info--desc">{{ collection.description }}</div>
  {% endif %}
</div>

<div class="grid-products">
  {% assign grid_item_width = 'medium--one-half large--one-third' %}
  {% for product in collection.products %}
    {% include 'product-grid-item' %}
  {% else %}
    {% if collection.handle == 'all' %}
      {% comment %}
        Add default products to help with onboarding for collections/all only
      {% endcomment %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}

      {% include 'onboarding-empty-collection' %}

    {% else %}

      {% comment %}
        If collection exists but is empty, display message
      {% endcomment %}
      <div class="grid__item text-center">
        <p>{{ 'collections.general.no_matches' | t }}</p>
      </div>

    {% endif %}
  {% endfor %}
</div>

{% if paginate.pages > 1 %}
  <div class="pagination">
    {{ paginate | default_pagination | replace: '&laquo; Previous', '<span class="icon icon-arrow-left" aria-hidden="true"></span>' | replace: 'Next &raquo;', '<span class="icon icon-arrow-right" aria-hidden="true"></span>' }}
  </div>
{% endif %}

{% endpaginate %}
