<!-- snippets/featured-collections.liquid -->

<div class="featured-collections">
  <div class="featured-collections--item">
    <div class="featured-collections--item-image">
      {% if settings.featured_collection_1 != blank %}
        <a href="{{ collections[settings.featured_collection_1].url }}">
      {% elsif settings.featured_collection_product_1 != blank %}
        <a href="{{ all_products[settings.featured_collection_product_1].url }}">
      {% elsif settings.featured_collection_blog_1 != blank %}
        <a href="{{ articles[settings.featured_collection_blog_1].url }}">
      {% endif %}

        {% if settings.featured_collection_image_1 != blank %}
          <img class="image" src="{{ settings.featured_collection_image_1 | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_1 != blank %}
          <img class="collection-image" src="{{ collections[settings.featured_collection_1].image.src | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_product_1 != blank %}
          <img class="product-image" src="{{ all_products[settings.featured_collection_product_1].featured_image.src | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_blog_1 != blank %}
          <img class="article-image" src="{{ collections[settings.collection_1].image.src | img_url: '1400x' }}" />
        {% endif %}

      {% if settings.featured_collection_1 != blank %}
        </a>
      {% elsif settings.featured_collection_product_1 != blank %}
        </a>
      {% elsif settings.featured_collection_blog_1 != blank %}
        </a>
      {% endif %}
    </div>
    <div class="featured-collections--item-title">{{ settings.featured_collection_title_1 }}</div>
    <div class="featured-collections--item-desc">{{ settings.featured_collection_description_1 }}</div>
    <div class="featured-collections--item-link">
      {% if settings.featured_collection_1 != blank %}
        <a href="{{ collections[settings.featured_collection_1].url }}">{{ settings.featured_collection_link_1 }}</a>
      {% elsif settings.featured_collection_product_1 != blank %}
        <a href="{{ all_products[settings.featured_collection_product_1].url }}">{{ settings.featured_collection_link_1 }}</a>
      {% elsif settings.featured_collection_blog_1 != blank %}
        <a href="{{ articles[settings.featured_collection_blog_1].url }}">{{ settings.featured_collection_link_1 }}</a>
      {% endif %}
    </div>
  </div>

  <div class="featured-collections--item">
    <div class="featured-collections--item-image">
      {% if settings.featured_collection_2 != blank %}
        <a href="{{ collections[settings.featured_collection_2].url }}">
      {% elsif settings.featured_collection_product_2 != blank %}
        <a href="{{ all_products[settings.featured_collection_product_2].url }}">
      {% elsif settings.featured_collection_blog_2 != blank %}
        <a href="{{ articles[settings.featured_collection_blog_2].url }}">
      {% endif %}

        {% if settings.featured_collection_image_2 != blank %}
          <img class="image" src="{{ settings.featured_collection_image_2 | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_2 != blank %}
          <img class="collection-image" src="{{ collections[settings.featured_collection_2].image.src | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_product_2 != blank %}
          <img class="product-image" src="{{ all_products[settings.featured_collection_product_2].featured_image.src | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_blog_2 != blank %}
          <img class="article-image" src="{{ collections[settings.collection_2].image.src | img_url: '1400x' }}" />
        {% endif %}

      {% if settings.featured_collection_2 != blank %}
        </a>
      {% elsif settings.featured_collection_product_2 != blank %}
        </a>
      {% elsif settings.featured_collection_blog_2 != blank %}
        </a>
      {% endif %}
    </div>
    <div class="featured-collections--item-title">{{ settings.featured_collection_title_2 }}</div>
    <div class="featured-collections--item-desc">{{ settings.featured_collection_description_2 }}</div>
    <div class="featured-collections--item-link">
      {% if settings.featured_collection_2 != blank %}
        <a href="{{ collections[settings.featured_collection_2].url }}">{{ settings.featured_collection_link_2 }}</a>
      {% elsif settings.featured_collection_product_2 != blank %}
        <a href="{{ all_products[settings.featured_collection_product_2].url }}">{{ settings.featured_collection_link_2 }}</a>
      {% elsif settings.featured_collection_blog_2 != blank %}
        <a href="{{ articles[settings.featured_collection_blog_2].url }}">{{ settings.featured_collection_link_2 }}</a>
      {% endif %}
    </div>
  </div>
</div>
