<!-- snippets/featured-collections-2.liquid -->

<div class="featured-collections" style="display: none">
  <div class="featured-collections--item">
    <div class="featured-collections--item-image">
      {% if settings.featured_collection_3 != blank %}
        <a href="{{ collections[settings.featured_collection_3].url }}">
      {% elsif settings.featured_collection_product_3 != blank %}
        <a href="{{ all_products[settings.featured_collection_product_3].url }}">
      {% elsif settings.featured_collection_blog_3 != blank %}
        <a href="{{ articles[settings.featured_collection_blog_3].url }}">
      {% endif %}

        {% if settings.featured_collection_image_3 != blank %}
          <img class="image" src="{{ settings.featured_collection_image_3 | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_3 != blank %}
          <img class="collection-image" src="{{ collections[settings.featured_collection_3].image.src | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_product_3 != blank %}
          <img class="product-image" src="{{ all_products[settings.featured_collection_product_3].featured_image.src | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_blog_3 != blank %}
          <img class="article-image" src="{{ collections[settings.collection_3].image.src | img_url: '1400x' }}" />
        {% endif %}

      {% if settings.featured_collection_3 != blank %}
        </a>
      {% elsif settings.featured_collection_product_3 != blank %}
        </a>
      {% elsif settings.featured_collection_blog_3 != blank %}
        </a>
      {% endif %}
    </div>
    <div class="featured-collections--item-title">{{ settings.featured_collection_title_3 }}</div>
    <div class="featured-collections--item-desc">{{ settings.featured_collection_description_3 }}</div>
    <div class="featured-collections--item-link">
      {% if settings.featured_collection_3 != blank %}
        <a href="{{ collections[settings.featured_collection_3].url }}">{{ settings.featured_collection_link_3 }}</a>
      {% elsif settings.featured_collection_product_3 != blank %}
        <a href="{{ all_products[settings.featured_collection_product_3].url }}">{{ settings.featured_collection_link_3 }}</a>
      {% elsif settings.featured_collection_blog_3 != blank %}
        <a href="{{ articles[settings.featured_collection_blog_3].url }}">{{ settings.featured_collection_link_3 }}</a>
      {% endif %}
    </div>
  </div>

  <div class="featured-collections--item">
    <div class="featured-collections--item-image">
      {% if settings.featured_collection_4 != blank %}
        <a href="{{ collections[settings.featured_collection_4].url }}">
      {% elsif settings.featured_collection_product_4 != blank %}
        <a href="{{ all_products[settings.featured_collection_product_4].url }}">
      {% elsif settings.featured_collection_blog_4 != blank %}
        <a href="{{ articles[settings.featured_collection_blog_4].url }}">
      {% endif %}

        {% if settings.featured_collection_image_4 != blank %}
          <img class="image" src="{{ settings.featured_collection_image_4 | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_4 != blank %}
          <img class="collection-image" src="{{ collections[settings.featured_collection_4].image.src | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_product_4 != blank %}
          <img class="product-image" src="{{ all_products[settings.featured_collection_product_4].featured_image.src | img_url: '1400x' }}" />
        {% elsif settings.featured_collection_blog_4 != blank %}
          <img class="article-image" src="{{ collections[settings.collection_4].image.src | img_url: '1400x' }}" />
        {% endif %}

      {% if settings.featured_collection_4 != blank %}
        </a>
      {% elsif settings.featured_collection_product_4 != blank %}
        </a>
      {% elsif settings.featured_collection_blog_4 != blank %}
        </a>
      {% endif %}
    </div>
    <div class="featured-collections--item-title">{{ settings.featured_collection_title_4 }}</div>
    <div class="featured-collections--item-desc">{{ settings.featured_collection_description_4 }}</div>
    <div class="featured-collections--item-link">
      {% if settings.featured_collection_4 != blank %}
        <a href="{{ collections[settings.featured_collection_4].url }}">{{ settings.featured_collection_link_4 }}</a>
      {% elsif settings.featured_collection_product_4 != blank %}
        <a href="{{ all_products[settings.featured_collection_product_4].url }}">{{ settings.featured_collection_link_4 }}</a>
      {% elsif settings.featured_collection_blog_4 != blank %}
        <a href="{{ articles[settings.featured_collection_blog_4].url }}">{{ settings.featured_collection_link_4 }}</a>
      {% endif %}
    </div>
  </div>
</div>
