<!-- snippets/featured-collections.liquid -->

<div class="featured-collections" style="display: none">
  {% if settings.collection_1 != blank %}
    <div class="featured-collections--item">
      <div class="featured-collections--item-image">
        <img src="{{ collections[settings.collection_1].image.src | img_url: '1400x' }}" />
      </div>
      <div class="featured-collections--item-title">{{ collections[settings.collection_1].title }}</div>
      {% if collections[settings.collection_1].description != blank %}
        <div class="featured-collections--item-desc">{{ collections[settings.collection_1].description }}</div>
      {% endif %}
      <div class="featured-collections--item-link">
        <a href="{{ collections[settings.collection_1].url }}">Shop now</a>
      </div>
    </div>
  {% endif %}

  {% if settings.collection_2 != blank %}
    <div class="featured-collections--item">
      <div class="featured-collections--item-image">
        <img src="{{ collections[settings.collection_2].image.src | img_url: '1400x' }}" />
      </div>
      <div class="featured-collections--item-title">{{ collections[settings.collection_2].title }}</div>
      {% if collections[settings.collection_2].description != blank %}
        <div class="featured-collections--item-desc">{{ collections[settings.collection_2].description }}</div>
      {% endif %}
      <div class="featured-collections--item-link">
        <a href="{{ collections[settings.collection_2].url }}">Shop now</a>
      </div>
    </div>
  {% endif %}
</div>
