<!-- /templates/product.liquid -->

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="grid product-page">
    <div class="product-page--inner">
      <div class="product-page--photos">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

        {% comment %}
          Display current variant image, or default first
        {% endcomment %}
        <div class="product-single__photo-wrapper">
          <img class="product-single__photo" id="ProductPhotoImg" src="{{ featured_image | img_url: '2048x2048' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %} alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}">
        </div>

        {% comment %}
          Display rest of product images, not repeating the featured one
        {% endcomment %}
        {% for image in product.images %}
          {% unless image contains featured_image %}
            <div class="product-single__photo-wrapper">
              <img class="product-single__photo" src="{{ image.src | img_url: '2048x2048' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %} alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}">
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>

    <div class="product-page--meta-wrapper">
      <div class="product-page--meta">
        {% if settings.product_vendor_enable %}
          <div class="product-page--vendor" itemprop="brand">{{ product.vendor }}</div>
        {% endif %}

        <div class="product-page--title" itemprop="name">{{ product.title }}</div>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% comment %}
            Optionally show the 'compare at' or original price of the product.
          {% endcomment %}

          {% if product.compare_at_price_max > product.price %}
            <span class="product-page--price" id="PriceA11y" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            <span class="product-page--price product-single__price--wrapper">
              <span id="ComparePrice" class="product-single__price--compare-at">
                {% if current_variant.compare_at_price > current_variant.price %}
                  {{ current_variant.compare_at_price | money }}
                {% endif %}
              </span>
            </span>
            <span id="ComparePriceA11y" class="product-page--price visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          {% else %}
            <span id="PriceA11y" class="product-page--price visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          {% endif %}

          <span id="ProductPrice" class="product-page--price{% if product.compare_at_price > product.price %} on-sale{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>

          <br><br>

          <!-- {% unless product.available %}
            <div id="sold-out">
              {% form 'contact' %}
                {% if form.posted_successfully? %}
                <p class="accent-text">Thanks! We will notify you when this product becomes available!</p>
                {% endif %}
                {% if form.errors %}
                <div class="error feedback accent-text">
                  <p>Please provide a valid email address.</p>
                </div>
                {% endif %}
                {% unless form.posted_successfully? %}
                <div id="notify-me-wrapper" class="clearfix">
                  {% if customer %}
                  <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
                  {% else %}
                  <input required="required" type="email" name="contact[email]" placeholder="your@email.com" class="styled-input notify-me-input{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
                  {% endif %}
                  <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }} becomes available." />
                  <input style="float:left; margin-left:5px;" class="btn styled-submit" type="submit" value="Send" />
                </div>
                {% endunless %}
                <script>
                jQuery('#notify-me').click(function() {
                  {% if customer %}
                  jQuery('#sold-out form').submit();
                  {% endif %}
                  return false;
                } );
                </script>
              {% endform %}
            </div>
          {% endunless %} -->

          <div class="product-page--description" itemprop="description">
            {{ product.description }}
          </div>

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
		        {% if product.available %}
            <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-single__form" id="AddToCartForm">
            {% endif %}
             	<select name="id" id="ProductSelect" class="product-single__variants">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>
              <div class="product-page--add-to-cart">
                {% if product.tags contains 'comingsoon' %}
                  <div class="product-page--add-to-cart-btn coming-soon">
                    <span>coming soon</span>
                  </div>
                {% else %}
                  <button type="submit" name="add" id="AddToCart" class="product-page--add-to-cart-btn">
                    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                  </button>
                {% endif %}
              </div>
              {% if additional_checkout_buttons %}
                {% if product.available %}
                  <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
                    {{ content_for_additional_checkout_buttons }}
                  </div>
                {% endif %}
              {% endif %}
            {% if product.available %}
            </form>
			      {% endif %}
        </div>

        {% if settings.social_sharing_products %}
          {% include 'social-sharing' %}
        {% endif %}
      </div>
    </div>
  </div>

</div>

{% include 'related-products' %}
{% include 'option-selector-template' %}

{% comment %}

  *IMPORTANT:*
  This theme uses a customized version of `option_selection.js` to support using radio inputs for
  color and size variants. The custom version is in `variant_selection.js`.

  If you wish to enable the default dropdowns for size and color
  you can change the liquid asset tag below from:

  {{ 'variant_selection.js' | asset_url | script_tag }}

  to

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  If you use the default `option_selection.js` the labels for the dropdowns will
  appear outside the dropdown.

  You will also need to change `.radio-wrapper` to `.selector-wrapper` below.

{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
        addToCart : {{ 'products.product.add_to_cart' | t | json }},
        soldOut : {{ 'products.product.sold_out' | t | json }},
        unavailable : {{ 'products.product.unavailable' | t | json }}
      }
    });
  };

  var open = function(elem) {
    if (document.createEvent) {
        var e = document.createEvent("MouseEvents");
        e.initMouseEvent("mousedown", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
        elem[0].dispatchEvent(e);
    } else if (element.fireEvent) {
        elem[0].fireEvent("onmousedown");
    }
  }

  jQuery(function($) {
    new Shopify.OptionSelectors('ProductSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });
    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.radio-wrapper:eq(0)').prepend('<label for="ProductSelect-option-0" class="single-option-radio__label">{{ product.options.first | escape }}</label>');
    {% endif %}
    // Hide drop-down selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}

    $('.selector-wrapper').click(function(ev) {
      var id = ev.target.querySelector('select').id
      open($('#' + id + ''))
    })
  });
</script>
